<div class="col-md-12">
    <p class="text-center">
        <span class="air-right">
            <strong>
                <%= adresse.Navn %>
            </strong>
        </span>
        <span class="air-right">
            <%= adresse.Vej %>
        </span>
        <span class="air-right">
            <%= adresse.Postnr %>
        </span>
        <span class="air-right">
            <%= adresse.By %>
        </span>
        <span class="air-right">
            Telefon:
            <%= adresse.Telefon %>
        </span>
        <span class="air-right">
            Email:
            <%= adresse.Email %>
        </span>
    </p>
</div>